* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #bd8216; */
}

.box-utente {
    width: 240px;
}

.utenti-email {
    padding: 10px;
}

.utenti-email p {
    text-align: center;
}

.utenti-email ul {
    list-style: none;
}

.utenti-email li {
    margin: 5px;
}

.utenti-email li:hover {
    background-color: antiquewhite;
    opacity: 0.5;
}

.active {
    background-color: rgb(212, 197, 178);
}