* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #bd8216; */
}

.utenti-email {
    padding: 10px;
}

.utenti-email ul {
    list-style: none;
}

.utenti-email li {
    margin: 5px;
}