* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #bd8216; */
}

.box-utente {
    width: 20px;
}

.box-utente-attivo {
    margin-top: 20px;
    font-family: cursive;
}

.utenti-email {
    padding: 10px;
}

.utenti-email p {
    text-align: center;
}

.utenti-email ul {
    list-style: none;
}

.utenti-email li {
    display: flex;
    cursor: pointer;
    margin: 20px;
}

.utenti-email li i {
    padding-left: 50px;
}

.utenti-email li.checked {
    color: lightgray;
    text-decoration: line-through;
}

.utenti-email li:hover {
    background-color: antiquewhite;
    opacity: 0.5;
}

.active {
    background-color: rgb(212, 197, 178);
}